#nav-bar {
    position: fixed;
    top: 20px;
    border: none;
    border-radius: 10em;
    display: flex;
    align-items: center;
    list-style: none;
    background: #f5f5f5;
    box-shadow: 2px 4px 4px #a377db;
    padding: 10px;
}
#nav-bar li a {
    position: relative;
    padding: 10px 50px;
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-size: 24px;
    text-decoration: none;
    display: inline-block;
    color: rgb(70,100,180);
    z-index: 3;
    cursor: pointer;
}

.slide1, .slide2 {
    position: absolute;
    display: inline-block;
    height: 50px;
    border-radius: 10em;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1.05);
}

.slide1 {
    background: rgb(170,190,255);
    z-index: 2;
}

.slide2 {
    opacity: 0;
    background-color: rgba(170,190,255,.5);
    z-index: 1;
    box-shadow: 0 0 20px #ffffffaa inset;
}

.squeeze {
    transform: scale(0.9);
}
